<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="darwin">

    <xacro:include filename="$(find darwin_gazebo)/urdf/darwin_gz.urdf.xacro"/>
    <xacro:arg name="controller" default="ros_controller"/>

    <ros2_control name="GazeboSimSystem" type="system">
        <hardware>
            <plugin>gz_ros2_control/GazeboSimSystem</plugin>
        </hardware>

        <!-- HEAD -->
        <joint name="neck_joint">
            <command_interface name="position">
                <param name="min">0.091</param>
                <param name="max">3.963</param>
            </command_interface>
            <state_interface name="position">
                <param name="initial_value">0.0</param>
            </state_interface>
            <state_interface name="velocity"/>
            <state_interface name="effort"/>
        </joint>

        <!-- LEFT ARM -->
        <joint name="l_shoulder_joint">
            <command_interface name="position">
                <param name="min">1.047</param>
                <param name="max">4.132</param>
            </command_interface>
            <state_interface name="position">
                <param name="initial_value">0.0</param>
            </state_interface>
            <state_interface name="velocity"/>
            <state_interface name="effort"/>
        </joint>

        <joint name="l_biceps_joint">
            <command_interface name="position">
                <param name="min">3.841</param>
                <param name="max">4.104</param>
            </command_interface>
            <state_interface name="position">
                <param name="initial_value">0.0</param>
            </state_interface>
            <state_interface name="velocity"/>
            <state_interface name="effort"/>
        </joint>

        <joint name="l_elbow_joint">
            <command_interface name="position">
                <param name="min">1.302</param>
                <param name="max">4.274</param>
            </command_interface>
            <state_interface name="position">
                <param name="initial_value">0.0</param>
            </state_interface>
            <state_interface name="velocity"/>
            <state_interface name="effort"/>
        </joint>

        <!-- RIGHT ARM -->
        <joint name="r_shoulder_joint">
            <command_interface name="position">
                <param name="min">1.189</param>
                <param name="max">4.161</param>
            </command_interface>
            <state_interface name="position">
                <param name="initial_value">0.0</param>
            </state_interface>
            <state_interface name="velocity"/>
            <state_interface name="effort"/>
        </joint>

        <joint name="r_biceps_joint">
            <command_interface name="position">
                <param name="min">0.906</param>
                <param name="max">1.175</param>
            </command_interface>
            <state_interface name="position">
                <param name="initial_value">0.0</param>
            </state_interface>
            <state_interface name="velocity"/>
            <state_interface name="effort"/>
        </joint>

        <joint name="r_elbow_joint">
            <command_interface name="position">
                <param name="min">0.594</param>
                <param name="max">3.764</param>
            </command_interface>
            <state_interface name="position">
                <param name="initial_value">0.0</param>
            </state_interface>
            <state_interface name="velocity"/>
            <state_interface name="effort"/>
        </joint>

        <!-- LEFT LEG -->


    </ros2_control>

</robot>